.addcomponent-container{
    display: flex;
    align-items: center;
}

.addcomponent-add-btn{
    height: 2em;
    color:white;
    background-color: rgb(124, 133, 143);
    padding: 0.3em;
    border: 0;
    border-radius: 1em;
    outline: 0;
    transition: background-color 200ms ease-in;
}

.addcomponent-add-btn:hover{
    background-color:rgba(136, 116, 116, 0.541);
}

